html,
body {
	padding: 0;
	margin: 0;
}

body {
  font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.overtime {
  color:red
}

.timeInput{
  width: 45px;
}
.descInput{
  width: 100%;
}
.inactive{
  background-color: lightgray;
}
.small_column{
  width: 50px;
}
.middle_column{
  width: 150px;
}
.large_column{
  width: 500px;
}
.mainArea{
  overflow-y: scroll;
  height: 800px;
}
